.tldraw-container {
  user-select: none;
}

/* Main container style */
.tldraw-container {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #eae6e1;
}

/* Controls sidebar styling */
.controls {
  position: center;
  left: 0;
  top: 0;
  overflow: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-left: 10px;
  /* height: 100vh; */
  /* max-height: 100%; */
  height: 96%;
  /* width: 12vw; */
  /* width: 6vw; */
  /* max-width: 6vw; */
  max-width: 100px;
  padding: 20px 10px;
  background: linear-gradient(90deg, #6c8654 0%, #6c8654 100%);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  border: 2px solid #333;
}
/* 4e76bb blue */
/* 6c8654 green */

@media (max-height: 800px) {
  .controls {
    overflow: hidden !important;
    max-width: 85px;
    max-height: 700px;
  }
}

/* Color button grid styling */
.color-group {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 1vh;
  width: 100%;
  justify-content: center;
  /* Center align the buttons */
  margin-bottom: 0px;
}

.color-instrument {
  aspect-ratio: 1 / 1;
  justify-content: center;
  margin-bottom: 0vh;
}

/* General button styling for consistency */
button {
  box-sizing: border-box;
  padding: 0px;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.8em;
  aspect-ratio: 1 / 1;
}

.color-button {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1 / 1;
  border: 2px solid #333 !important;
  border-radius: 50% !important;
  border-style: solid;
  /* Change to dashed, dotted, etc., if needed */
  cursor: pointer;
  transition: transform 0.2s;
}

.color-button:hover {
  transform: scale(1.05);
}

.instrument-select-button {
  width: 100% !important;
  height: 100% !important;
  background-color: #704f4a;
}

.instrument-select-button:hover {
  transform: scale(1.05);
}

/* Container for each color-instrument pair */
.color-instrument-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 10px; */
  gap: 0.5vw;
  width: 100%;
  justify-content: center;
}


/* Hover effect for buttons */
.color-button:hover,
.instrument-select-button:hover {
  transform: scale(1.05);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.eraser-container,
.steps-group,
.play-controls-group,
.grid-loop-group,
.scale-container {
  display: flex;
  /* Arrange buttons horizontally */
  gap: 0.5vw;
  /* Space between the Grid and Loop buttons */
  width: 100%;
  /* Adjust width as needed */
  height: 3em;
  max-height: 2em;
  justify-content: center;
  /* Center align the buttons */
  align-items: center;
  /* margin-bottom: 10px; */
  margin-top: 10px;
  /* Adjust spacing above the group */
}

.color-button,
.instrument-select-button,
.eraser-button,
.trash-button,
.undo,
.redo,
.play-stop-button,
.grid-button,
.loop-button,
.scale-button {
  width: 10vw;
  /* height: 0%; */
  padding: 0px;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 50%;
  font-size: 1.8em;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: transform 0.2s, background-color 0.2s;
  background-color: #9e273e;
  text-align: center;
  box-shadow: none;
  /* transition: border-color 0.5s ease-out, box-shadow 0.5s ease-out; */
  transition: 
    transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), /* Smooth scale transition */
    border-color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), /* Quick ease-in */
    box-shadow 0.6s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth ease-out for shadow */
}
/* 9e273e red */
/* 891515 dark red */
/* b42d1a light red */

/* .grid-button {
  background-color: #9e273e;
}

.scale-button {
  background-color: #9e273e;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.eraser-button.active, .trash-button.active
 {
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffc400;
}

.eraser-button:hover,
.trash-button:hover,
.undo:hover, .redo:hover,
.play-stop-button:hover,
.loop-button:hover,
.grid-button:hover,
.stop-mode:hover,
.scale-button:hover {
  transform: scale(1.05);
  background-color: #9e273e;
}

.stop-mode {
  /* background-color: #b72929; */
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffc400;
}

.loop-button.active {
  /* background-color: #d95420; */
  background-color: #671223; /* Dark background for contrast */
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffc400;
}

.grid-button:active,
.scale-button:active,
.loop-button:active,
.play-stop-button:active,
.undo:active,
.redo:active,
.eraser-button:active,
.trash-button:active {
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffc400;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Instrument selection modal styling */
.instrument-selection-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4e76bb;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 350px; /* Adjust to fit within the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Add space between items */
}

.instrument-selection-modal h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.instrument-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.instrument-option-button {
  width: 120px;
  /* Adjust button size */
  height: 120px;
  /* Adjust button size */
  background-color: #901e29;
  border: 2px solid #333;
  border-radius: 50%;
  /* border-radius: 20%; */
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 
    transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), /* Smooth scale transition */
    border-color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), /* Quick ease-in */
    box-shadow 0.6s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth ease-out for shadow */
}

.instrument-option-button:hover {
  background-color: #9c1825;
  transform: scale(1.05);
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffc400;
}

.close-modal-button {
  width: 60px;
  height: 60px;
  margin-top: 45px;
  padding: 18px 18px;
  background-color: #9e2424;
  color: white;
  border-radius: 15%;
  border: 2px solid #631616;
  /* border-color: #310e15 !important; */
  cursor: pointer;
}

.close-modal-button:hover {
  background-color: #c32b2b;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.iconPlay,
.iconDo,
.iconStop,
.iconLoop,
.iconGrid,
.iconTempo,
.iconEraser,
.iconTrash,
.iconInstrument,
.scale-option-icon,
.iconQuit,
.scale-icon{
  width: auto;
  /* Allow the SVG to scale */
  height: auto;
  /* Allow the SVG to scale */
  max-width: 100%;
  /* Adjust as needed to control size within the button */
  max-height: 100%;
  /* Adjust as needed to control size within the button */
  display: block;
  /* Ensure the SVG is centered */
  margin: center;
  /* Center the SVG within the button */
  transform: scale(0.7);
  stroke: #ffd500;
  stroke-width: 2px;
  /* filter: drop-shadow(0 0 2px #ffc800); */
  filter: drop-shadow(0 0 1px #ffc800) drop-shadow(0 0 2px #ffc800);
  animation: inner-glow 2s infinite alternate;
}

.iconGrid {
  transform: scale(1);
}

.iconQuit {
  transform: scale(1.8);
}

.iconDo {
  transform: scale(0.7);
}

.iconLoop {
  transform: scale(0.9);
}

.scale-option-icon {
  transform: scale(1);
}

button:hover .iconStop, button.active .iconStop, .iconStop,
button:hover .iconDo,
button:hover .iconGrid,
button:hover .iconQuit,
button:hover .iconEraser, button.active .iconEraser,
button:hover .iconTrash, button.active .iconTrash,
button:hover .iconLoop, button.active .iconLoop,
button:hover .scale-icon, button:hover .scale-option-icon {
  stroke: #ffd500;
  stroke-width: 2px;
  filter: drop-shadow(0 0 1px #ffc800) drop-shadow(0 0 3px #ffc800) drop-shadow(0 0 5px #ffc800);
}

button.active .iconPlay, button:hover .iconPlay {
  stroke: #ffd500;
  stroke-width: 2px;
  filter: drop-shadow(0 0 3px #ffc800) drop-shadow(0 0 5px #ffc800) drop-shadow(0 0 5px #ffc800);
}

.instrument-icon {
  width: auto;
  /* Allow the SVG to scale */
  height: auto;
  /* Allow the SVG to scale */
  max-width: 65%;
  /* Adjust as needed to control size within the button */
  max-height: 65%;
  /* Adjust as needed to control size within the button */
  display: block;
  /* Ensure the SVG is centered */
  margin: center;
  /* Center the SVG within the button */
  /* transform: scale(0.8); */
  stroke: #ffd500;
  stroke-width: 2px;
  filter: drop-shadow(0 0 1px #ffc800) drop-shadow(0 0 2px #ffc800);
}

button:hover .instrument-icon {
  stroke: #ffd500;
  stroke-width: 2px;
  filter: drop-shadow(0 0 1px #ffc800) drop-shadow(0 0 3px #ffc800) drop-shadow(0 0 5px #ffc800);
}

.instrument-sidebar-icon {
  width: auto;
  /* Allow the SVG to scale */
  height: auto;
  /* Allow the SVG to scale */
  max-width: 100%;
  /* Adjust as needed to control size within the button */
  max-height: 100%;
  /* Adjust as needed to control size within the button */
  display: block;
  /* Ensure the SVG is centered */
  margin: center;
  /* Center the SVG within the button */
  transform: scale(0.65);
  stroke: #ffd500;
  stroke-width: 2px;
  filter: drop-shadow(0 0 1px #ffc800) drop-shadow(0 0 2px #ffc800);
}

button:hover .instrument-sidebar-icon {
  stroke: #ffd500;
  stroke-width: 2px;
  filter: drop-shadow(0 0 1px #ffc800) drop-shadow(0 0 3px #ffc800) drop-shadow(0 0 5px #ffc800);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Brush size and Playback Speed slider styling with Icon labels */

.brush-size-group,
.slider-group {
  display: flex;
  align-items: center;
  gap: 0px;
  width: 100%;
  max-height: 50%;
  margin-top: 6vh;
  justify-content: center;
}

.brush-size-group label,
.slider-group label {
  font-size: 1.8em;
}

.slider-group input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 10em !important;
  height: 40px;
  max-width: 10em;
  background: #9e273e;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transform: rotate(-90deg);
  border: 2px solid #333;
}

.brush-size-group input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 128px !important;
  height: 40px;
  max-width: 10em;
  background: #9e273e;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transform: rotate(-90deg);
  border: 2px solid #333;
}

@media (max-height: 800px) {
  .slider-group input[type="range"] {
    width: 8em !important;
    height: 40px;
    max-width: 8em;
  }

  .brush-size-group input[type="range"] {
    width: 8em !important;
    height: 40px;
    max-width: 8em;
  }
}

.brush-size-group input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: #ffe2d6;
  background-image: url('./../../assets/icons/brush-svgrepo-com-3.svg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 2px solid #310e15; */
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffe2d6;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(90deg);
  transition: background-color 0.3s;
}

@media (max-height: 800px) {
  .brush-size-group input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }
}

.slider-group input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: #ffe2d6;
  background-image: url('./../../assets/icons/metronome-tempo-beat-bpm-svgrepo-com-2.svg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #310e15;
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffe2d6;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(90deg);
  transition: background-color 0.3s;
}

@media (max-height: 800px) {
  .slider-group input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }
}

.brush-size-group input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background-color: #ffe2d6;
  background-image: url('./../../assets/icons/brush-svgrepo-com-3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 2px solid #310e15; */
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffe2d6,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffe2d6;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-group input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background-color: #ffe2d6;
  background-image: url('./../../assets/icons/metronome-tempo-beat-bpm-svgrepo-com-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 2px solid #310e15; */
  border: 1px solid #ffe2d6;
  box-shadow: 
    0 0 5px #ffc400,
    0 0 3px #ffc400,
    0 0 5px #ffc400,
    0 0 7px #ffc400;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vertical-sliders {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 50%;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
.vertical-sliders {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.brush-size-group,
.slider-group {
  display: flex;
  align-items: center;
  width: 3em; 
  height: 100%;
  justify-content: center;
  position: relative;
  margin-top: 100px;
}

.brush-size-group input[type="range"],
.slider-group input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 10em;
  height: 40px;
  background: #7d2839;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transform: rotate(-90deg);
  position: relative;
  z-index: 1;
}

.brush-size-group input[type="range"]::-webkit-slider-thumb,
.slider-group input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9e273e;
  border: 2px solid #310e15;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.brush-size-group input[type="range"]::-webkit-slider-thumb {
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #ff6666, 0 0 15px #ff9999;
}

.slider-group input[type="range"]::-webkit-slider-thumb {
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #6666ff, 0 0 15px #9999ff;
}

.brush-size-group input[type="range"]::-moz-range-thumb,
.slider-group input[type="range"]::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9e273e;
  border: 2px solid #310e15;
  cursor: pointer;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.brush-size-group input[type="range"]::-moz-range-thumb {
  background-image: url('./../../assets/icons/Brush.svg');
  box-shadow: 0 0 10px #ff6666, 0 0 15px #ff9999;
}

.slider-group input[type="range"]::-moz-range-thumb {
  background-image: url('./../../assets/icons/Tempo.svg');
  box-shadow: 0 0 10px #6666ff, 0 0 15px #9999ff;
}

.brush-size-group input[type="range"]::-webkit-slider-thumb:active,
.slider-group input[type="range"]::-webkit-slider-thumb:active,
.brush-size-group input[type="range"]::-moz-range-thumb:active,
.slider-group input[type="range"]::-moz-range-thumb:active {
  transform: scale(0.9);
  box-shadow: 0 0 20px #ffaaaa, 0 0 25px #ffeeee;
}

@media (max-height: 800px) {
  .brush-size-group input[type="range"],
  .slider-group input[type="range"] {
    width: 8em;
    height: 40px;
  }

  .brush-size-group input[type="range"]::-webkit-slider-thumb,
  .slider-group input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }

  .brush-size-group input[type="range"]::-moz-range-thumb,
  .slider-group input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
  }
}

.slider-thumb {
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.slider-thumb img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 5px #ff0) drop-shadow(0 0 10px #f80);
}

.slider-icon {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 5px #ffd500) drop-shadow(0 0 10px #ffc800);
  z-index: 10;
} */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 

/* Scale Selection Modal */
.scale-selection-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4e76bb;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 350px; /* Adjust to fit within the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Add space between items */
}

.scale-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.scale-option-button {
  background: transparent;
  background-color: #891515;
  border: 2px solid #333;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 
    transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), /* Smooth scale transition */
    border-color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), /* Quick ease-in */
    box-shadow 0.6s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth ease-out for shadow */
}

.scale-option-button:hover {
  background-color: #891515;
  transform: scale(1.05);
}

.scale-option-icon {
  width: 40px;
  height: 40px;
}
